<html lang="en">
    <head>
        <meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="styles.css" />
        <title>Welcome {{username}}</title>
    </head>

    <body>
        <div class="main">
            <h1>Links</h1>
            <a href="/">/</a>
            <a href="/seed-data">/seed-data</a>
            {{#if isLoggedIn}}
                <br/>
                <a href="/welcome">/welcome</a>
                <a href="/logout">/logout</a>
            {{else}}
                <br/>
                <a style="background-color:#CF3C3C;" href="/login">/login</a>
                <a style="background-color:#35A671;" href="/login-safe">/login-safe</a>
            {{/if}}
            <br/>
            <a style="background-color:#CF3C3C;" href="/dom-xss">/dom-xss</a>
            <a style="background-color:#35A671;" href="/dom-xss-safe">/dom-xss-safe</a>
            <a style="background-color:#CF3C3C;" href="/dom-xss2">/dom-xss2</a>
        </div>

        <div class="main">
            <h1>Welcome Page</h1>

            <div>
                <p><strong>Logged in as:</strong> <i>{{username}}</i></p>
            </div>

        </div>

        <div class="main">
            <form action = "/welcome" method="get">
                <h1>Create new post</h1>
                    <div class = "question">
                        <b><label for="postTitle">Post Title </label></b>
                        <input type="text" name="postTitle" placeholder="Post Title"></input>

                    </div>
                    <button type="submit">SUBMIT</button>
            </form>

            <h1>
                Your posts:
            </h1>

            <ul>
                {{#each posts}}
                    <li>
                        <p><strong>username:</strong> {{username}}</p>
                        <p>
                            <strong>title:</strong>
                            {{title}}
                        </p>
                    </li>
                {{/each}}
            </ul>
        </div>
    </body>
</html>